<html>
    <body>
<div class="contact-links" data-reactid="202">
    <span data-reactid="203">
        <a rel="noopener" target="_blank" href="mailto:ben@benjaminbedard.com" data-reactid="204">mailto:ben@benjaminbedard.com</a>
    </span>
    <span data-reactid="205">
        <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/benjamin-bedard-a911a233" data-reactid="206">LinkedIn</a>
    </span>
    <span data-reactid="207">
        <a rel="noopener" target="_blank" href="https://github.com/bebedard" data-reactid="208">github</a>
    </span>
</div>
</body>
</html>