<html>
    <header>
    </header>
    <body>
        <div class="info-content-area">
        <div class="row">
            <div class="col-10">
            <div class="info-text">
                <br>
                <h2>Projects</h2>
                <br>
                <h3>Benjaminbedard.com (You are here)</h3>
                <p>This simple website is built on a golang web engine, <a href="https://github.com/gobuffalo/buffalo">buffalo</a> and currently resides on AWS.</p>
            </div>
            </div>
        </div>
        </div>
    </body>
</html>