<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<html>
<body>
<div id="primary" class="resume content-area">

    <div class="resume-header">
        <h1>Benjamin Bedard</h1>
        <div class="contact-lines">
            <div class="resume-line"><span>Infrastructure automation engineer</span><span class="right">Montreal, Canada</span></div>
            <div class="resume-line"><a href="benjaminbedard.com">benjaminbedard.com</a><span class="right"><a href="ben@benjaminbedard.com">ben@benjaminbedard.com</a></span></div>
            <div class="resume-line"><a href="github.com/bebedard">github.com/bebedard</a><span class="right">450-822-3408</span></div>
        </div>
    </div>
    <div class="experience-header">
    <h3>Experience</h3>
    </div>
    <h3>Systems Administrator - Vigilant, Montreal, QC	<span class="right" style="padding-left:20px">2015-Present</span></h3>
    <div class="employment">
    <p>At vigilant, I am currently responsible for most of the cloud infrastructure on the the data flow team, using terraform to provision systems on 3 major cloud providers, and ansible to configure them. I also do day to day ops tasks, and create web applications to support them.</p>
    <h4>In the past in this position I have also done:</h4>
    <ul>
       <li>System tuning for high performance and low latency applications</li> 
       <li>Creation of configuration for high performance web scraper and parsing applications</li>
       <li>Application deployment on large scale infrastructure</li>
       <li>Setup and management of large scale infrastructure (Over 500 machines in multiple sites)</li>
       <li>Root-cause analysis of network and server issues</li>
       <li>Infrastructure support for the application developers</li>
    </ul>
    </div>

    <h3>Systems Administrator - Cyber Escouade TI, BoisBriand, QC	<span class="right" style="padding-left:20px">2014-2015</span></h3>
    <div class="employment">
    <p>At Cyber Eascouade TI, I was part of a team of consultants with over a hundred clients in the montreal region, doing anything from simple PC setups, to cloud environment design and implementation.</p>
    <h4>In the past in this position I have also done:</h4>
    <ul>
       <li>Design and implementation of new infrastructure for 100+ companies</li> 
       <li>User support</li>
       <li>Network and system troubleshooting</li>
       <li>Cloud applications support</li>
       <li>Server management and maintenance</li>
    <br>
</div>
    <h3>IT Infrastructure and Support Analyst  - Maples Fund Services, Montreal, QC 	<span class="right" style="padding-left:20px;">2011-2014</span></h3>
    <div class="employment">
    <p>I started at Maples Fund Services as a junior developer, maintaining existing applications and developing new financial dashboards for our clients, then transitioned to a junior system administrator role after a year</p>
    <h4>In the past in this position I have also done:</h4>
    <ul>
       <li>Setup and maintenance of websites on IIS</li> 
       <li>Day to day management and monitoring of 4 different sites world wide.</li>
       <li>Root-cause analysis of network and computer issues</li>
       <li>Task automation</li>
       <li>Server management and maintenance</li>
       <li>User support</li>
       <li>Development of tools for business use</li>
       <li>Database administration</li>
    </ul>
</div>
    <div class="tech-skills-header">
    <h3>Technical skills</h3>
    </div>
    <div class="tech-skills">
    <h5>Development</h5>
    <p>C#, Python, Go</p>

    <h5>Scripting & automation</h5>
    <p>Bash, Batch, Powershell, Terraform, Ansible</p>

    <h5>Web design</h5>
    <p>HTML, CSS, Javascript</p>

    <h5>System administration</h5>
    <p>SQL Server, Windows Server, GNU/Linux, Active directory, Exchange mail server<br>Google GCE, Microsoft Azure, AWS EC2, Akamai CDN, Wireshark</p>

    <h5>Virtualization</h5>
    <p>VMware ESXi, VMware VSphere, VirtualBox</p>

    <h5>Networking</h5>
    <p>Cisco, Fortinet, PFsense, KEMP, Sonicwall, Watchguard, Arista</p>

    <h5>VoIP</h5>
    <p>Mitel, Asterisk, Cisco VoIP</p>

</div>
</div>
</body>
</html>